html,
body {
	width: 300px;
	position: relative;
}

header {
	font-family: "Open Sans", sans-serif;
	box-shadow: 0px 2px 20px 0px grey;
}

#spinner {
	position: absolute;
	z-index: 10;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

#overlay {
	width: 100%;
	height: 100%;
	background-color: white;
	opacity: 0.5;
}

button {
	margin: 5px;
	width: 200px;
	height: 40px;
}
